#root {
  text-align: center;
  background-color: #213547;
  width: 100%;
  height: 100%;
}

.menu {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.nav-list-item {
  color: #213547;
  font-size: 1.6em;
  font-weight: 500;
  text-decoration: inherit;
}

#search-form {
  display: flex;
  justify-content: center;
}

#search {
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
}

#search-icon {
  color: rgb(22, 37, 149);
  font-size: xx-large;
}

select {
  padding: 10px;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 10px;
}

option {
  font-weight: bold;
  font-size: 1.1em;
}

.filter-articles-button {
  background-color: white;
  color: #213547;
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-card {
  border-radius: 15px;
  margin: 10px;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 350px;
  background-color: white;
}

#article-card-img {
  max-width: 350px;
  height: auto;
}

.card-button {
  background-color: #213547;
  color: white;
  font-weight: bold;
  padding: 10px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 20px;
}

.single-article-img {
  max-width: 600px;
  margin: 15px;
}

.single-article-body {
  margin-left: 20%;
  margin-right: 20%;
}

.article-votes {
  justify-content: center;
  margin: 10px;
}

.vote-count {
  color: white;
  margin: 10px;
}

.comments-list {
  text-align: left;
  margin-left: 10%
}

.comment-info {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.comment-author {
  margin-right: 15px;
}

.comment-votes {
  color: rgb(4, 114, 4);
}

.comment-date {
  width: 100%;
}

#newComment {
  margin-right: 10px;
  border-radius: 8px;
  border-color: white;
  padding: 12px;
}

.add-comment-button {
  background-color: white;
  color: #213547;
  border-radius: 20px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card {
  display: block;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;
}

.user-img {
  width: 220px;
  height: 200px;
  padding: 10px;
}

.user-login-button {
  background-color: #213547;
  color: white;
}

.topic-filters {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

#filters-icon {
  margin-right: 20px;
  font-size: xx-large;
}

#filter-articles-button {
  margin-left: 15px;
}

.topics-list {
  display: flex;
  justify-content: center;
}

.topic-card {
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  height: 150px;
  width: 400px;
}

.topic-button {
  background-color: #213547;
  color: white;
  margin: 10px;
  border-radius: 20px;
}
