#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  border: solid #213547;
  justify-self: center;
}

.menu {
  justify-content: space-evenly;
  display: flex;
  list-style-type: none;
  font-size: 1.4em;
  width: 100%;
}

.search {
  display: flex;
  list-style-type: none;
  font-size: 1.4em;
  width: 100%;
  justify-content: center;
  color: #0a4572;
  font-weight: 500;
}

h1 {
  justify-self: center;
}

li {
  list-style: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #151a75aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-card {
  border: rgb(0, 0, 98) solid;
  margin: 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 350px;
}

.article-card-img {
  max-width: 350px;
  height: auto;
}

.read-article-button {
  background-color: #213547;
  color: white;
}

.single-article-img {
  max-width: 600px;
  margin: 15px;
}

.single-article-body {
  margin: 15px;
  text-align: left;
}

.article-votes {
  justify-content: center;
  margin: 10px;
}

.vote-count {
  margin: 10px;
}

.comments-list {
  text-align: left;
}

.comment-info {
  display: flex;
  flex-wrap: wrap;
}

.comment-author {
  margin-right: 15px;
}

.comment-votes {
  color: rgb(4, 114, 4);
}

.comment-date {
  width: 100%;
}

#newComment {
  margin-right: 10px;
}

#newComment {
  border-radius: 8px;
  border-color: #213547;
  padding: 12px;
}

.add-comment-button {
  background-color: #213547;
  color: white;
  border-radius: 20px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
}

.user {
  display: block;
  border: rgb(0, 0, 98) solid;
  margin: 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;
}

.user-img {
  max-width: 200px;
  max-height: 200px;
  padding: 10px;
}

.user-login-button {
  background-color: #213547;
  color: white;
}

.topic-filters {
  margin: 20px;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(18, 51, 90);
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
}

option {
  font-weight: bold;
  font-size: 1.2em;
}

.filter-articles-button {
  background-color: #213547;
  color: white;
}
